{% extends 'base.html' %}

{% block header %}
<script src="/static/js/accountInfoView.js"></script>
<link rel = "stylesheet" href = "/static/css/accountInfoStyle.css" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel= "stylesheet" href="/static/css/base_layout.css">
<title>New Account</title>
{% endblock %}

{% block body %}

<h1 id="header1">New savings account</h1>
<form method="post" action="{{ url_for('add_savings') }}">
  <div class="form-group">
    <input type="text" class="form-control" name="fullName" id="txtName" placeholder="Full Name" autofocus>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
